.box-select {
    background: #ddd1ad3d;
    width: min(33vw, 445px);
    height: min(25vw, 337px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Redressed', cursive;
    font-weight: normal;
    color: #44433fde;
    border-radius: 30px;
    border: 5px solid #CDC3A5;
    transition: 400ms;
    cursor: pointer;
    overflow: hidden;
}

.box-select img {
    height: 50%;
    transition: 400ms;
}

.box-select h2 {
    width: 60%;
    font-size: min(32px, 3vw / 1.5 );
}

.box-select:hover {
    background: #fffbec57;
    color: #44433f8f;
    border: 5px solid #aaa492ad;
}

.box-select:hover > img {
    opacity: 0.8;
}

.box-select p {
    font-size: min(2vw, 22px);
    width: 75%
}