.new-project {
    background: #FFF8DC;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.new-project .box-selector .box-select h2 {
    width: 90%;
}

.new-project .box-selector {
    position: absolute;
    bottom: 100px;
    width: 100vw;
}

.new-project .central-text {
    width: 100%;
    text-align: center;
    font-size: min(4vw, 50px);
    padding: calc(10.5vh - 2vw) 30% 0 30%;
    color: #6C685C;
}

/*
======================================
Form Page
======================================
*/

.new-project .new-project-area {
    overflow-y: scroll;
    position: absolute;
    bottom: 0px;
    height: 55%;
    border-top: 5px double #6C685C;
    padding-top: 50px;
    padding-bottom: 10px;
}